*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }


/* ========================================================== */







body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    height: 200px;
    width: 80%;
    object-fit: cover;
}

.header-container {
    background-color: rgb(255, 147, 76);
    display: flex;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header img {
    margin: 0 auto;
}

#header > h1 {
    margin: 0 auto;
    /* padding-top: 20px; */
    padding: 20px;
}

#nav-content {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    background-color: brown;
    /* padding: 20px; */
}

.btn-content {
    outline: none;
    background-color: inherit;
    color: #fafafa;
    font-size: 24pt;
    border: none;
}

.no-bullet {
    list-style-type: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 10vw;
}

.home-background {
    width: 60%;
    margin: 0 auto;
    background-color: #333;
    color: #fafafa;
    padding: 1rem;
}

/* .header img {
    wid
} */